h2{
    color:skyblue;
    background-color: darkblue;
    text-align: center;
    font-size: 5vw;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}
ol {
    background-color: royalblue;
}
li{
    background-color: cornflowerblue;
}

.navbar{
    background-color: #fffaff;
    border:solid #000080;
    border-color: black;
    border-collapse: collapse;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    position: sticky;
    top: 0px;
}

.navbar th{
    border: solid;
    padding: 5px;
}
body{
    background-image: url(../img/blue-tile.png);
    font-family: 'Segoe UI', Tahoma, sans-serif;
}
header{
    background-color: #000080;
    color: #fffaff;
    text-align: center;
    font-size: 50px;
}

footer{
    background-color: #000080;
    color: #fffaff;
    font-size: 12px;
    border: 3px solid #fffaff;
    padding-left: 5px;
}

.profile{
    background-color: #3e92cc;
    text-align: center;
}

.even-row{
    background-color: #5764A5;
}
.dropdown{
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fffaff;
    color: #000080;
    padding: 5px;
    box-shadow: 5px 5px 10px green;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.active {
    background-color: limegreen;
}

a {
    text-decoration: none;
}